/* Header */

.cabecalho{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

/* LOGO FOOD + JP */

.cabecalho__1{
    display: flex;
    flex-direction: row;
    
}

.logotipo__1{
    
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--cor-titulo);
    width: 100px;

}

/* MENU */

.cabecalho__3{
    display: flex;
    flex-direction: row;
    right: 215px;
    gap: 35px;

}

.menu{
    display: flex;
    align-items: center;
    font-family: var(--font-principal);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--cor-titulo);

}

/* TELA DE ACESSO A CONTA */


.cabecalho__4{
    display: flex;
    align-items: center;
    border: solid 2px;
    border-radius: 10px;

}

.logging{
    
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-titulo);
    width: 180px;
    text-align: center;

}

/* CONTEÚDO */

.apresentacao{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 50px 0px;
    gap: 60px;

}

.apresentacao__1{
    display: grid;
    align-items: center;
    height: 400px;
    margin-top: 100px;

}

.titulo_apresentacao-1{
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor-titulo);

}

.texto__apresentacao{
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-titulo);

}

.botao_cardapio{
    display: flex;
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-botao);
    justify-content: space-around;
    width: 296px;
    align-items: center;
    text-align: center;
    border: solid; 
    border-color: var(--cor-nome);
    border-radius: 10px;
    background-color: var(--cor-nome);
    height: 60px;

}


.apresentacao__2{
    width: 400px;
    height: 534.7px;  
      
}