/* Header */

.cabecalho{
    display:flex;
    flex-direction: row; /* Todo display flex, vem como padrão o row, entao vc nao precisa colocar*/
    justify-content: space-between;
}

/* LOGO FOOD + JP */

.cabecalho__1{
    display: flex;
    flex-direction: row; /* Todo display flex, vem como padrão o row, entao vc nao precisa colocar*/
    
}

.logotipo__1 span{
    color: var(--cor-nome);
}

.logotipo__1{
    display: flex;
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--cor-titulo);
    width: 100px;

}

/* MENU */

.cabecalho__3{
    display: flex;
    flex-direction: row; /* Todo display flex, vem como padrão o row, entao vc nao precisa colocar*/
    right: 215px;
    gap: 35px;

}

.menu{
    display: flex;
    align-items: center;
    font-family: var(--font-principal); /* Font-family mais usada pode ser colocada no body como "padrao", assim, vc pode mudar somente o que for diferente e diminiu algumas linhas de codigo, isso pode ser feito com qualquer coisa que vai ser padrao.*/
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--cor-titulo);
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.menu:hover{
    color: var(--cor-nome);
    border-bottom: 0.1rem solid var(--cor-nome);
}

/* TELA DE ACESSO A CONTA */


.cabecalho__4{
    display: flex;
    align-items: center;
    border: solid 2px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;

}

.cabecalho__4:hover{
    background-color: var(--cor-nome);
    cursor: pointer;
    
    
}

.logging{
    
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-titulo);
    width: 180px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.logging:hover{
    color: white;
}

/* CONTEÚDO */

h2{
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor-titulo);
    Width: 36.1rem;



}

h3{
    font-family: var(--font-titulo);
    color: var(--cor-titulo);
    font-weight: 500;
    font-size: 3rem;
    width: 32rem;
}

.apresentacao{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 50px 0px;
    gap: 60px;

}

.apresentacao__1{
    display: grid;
    align-items: center;
    height: 400px;
    margin-top: 100px;

}


.texto__apresentacao{
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 2.4rem;
    color: var(--cor-titulo);
    width: 52rem;
    height: 11.4rem;

}

.botao_cardapio{
    display: flex;
    font-family: var(--font-principal);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-botao);
    justify-content: space-around;
    width: 296px;
    align-items: center;
    text-align: center;
    border: solid; 
    border-color: var(--cor-nome);
    border-radius: 10px;
    background-color: var(--cor-nome);
    height: 60px;
    transition: 0.3s ease-in-out;

}

.botao_cardapio:hover{
    scale: 1.1;
    cursor: pointer;

}


.apresentacao__2{
    width: 400px;
    height: 534.7px;  
      
}

/* Inicio do código Karine*/

.tradicao{
    display: flex;
    gap: 12.4rem;

}

.img img{
    width: 60.4rem;
    height: 50rem;
}

.descricao-prato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2.4rem;
    
}

.descricao-prato p{
    width: 50rem;
    
}



.descricao-prato a{
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--cor-nome);
    Width: 39.2rem;
    
}

.descricao-prato a:hover{
    border-bottom: 0.1rem solid var(--cor-nome);
}

.populares{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrapper{
    display: flex;
    gap: 4.4rem;
    align-items: center;
    margin: 5rem;
}


.prato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 38rem;
    height: 45rem;
    background-color: var(--cor-bc);
    border-radius: 3.2rem;
    position: relative;
    margin-top: 10rem;
    
}

.prato img{
    width: 29.1rem;
    height: 29.1rem;
    position: absolute;
    top: -9rem;
    
}

.prato .descricao-prato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25.1rem;
}

.prato .descricao-prato p{
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--cor-texto);
    Width: 24.9rem;
}

.prato .descricao-prato span{
    font-family: var(--font-titulo);
    font-weight: 500;
    font-size: 3.2rem;
}

/* COMENTÁRIOS */


.titulo__comentarios{
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor-titulo);
    display: flex;
    flex-direction: row;
    margin: 3rem;
}

.depoimentos{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   gap: 2rem;
}

.imagem__usuarios{
    margin-top: 3rem;
    margin-left: 3rem;
    width: 120px;
}

.titulo__depoimentos{
    margin-left: 2rem;
}

.depoimento{
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-texto);
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem 5rem 3rem;
    width: 70%;
    
}

.depoimento__Daniele{
    background-color: var(--cor-bc);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

}

.depoimento__Ricardo{
    background-color: var(--cor-bc);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

}

.titulo__depoimentos{
    margin-top: 3rem;
}


/* MAPA */

.titulo__mapa{
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor-titulo);
    display: flex;
    flex-direction: row;
    margin: 3rem;
    padding-top: 2rem;
}